<section style="background-image: url(&quot;assets/img/bg/cta-bg-6-1.webp&quot;);">
  <div class="cta-block space-negative">
    <div class="container text-center">
      <h2 class="sec_title text-white h1 mt-n2 mb-3 pb-1">Dead Batteries Suck</h2>
      <p class="sec_text text-white fs-md mb-4 pb-2">You know who likes dead batteries? Communists.
        <BR>
        Don't be a damn dirty commie, build your Pew Power Pack today.
      </p><a href="contact.html" class="vs-btn style-3">GET STARTED<i class="fal fa-arrow-right"></i></a>
    </div>
  </div>
</section>