<footer class="footer-wrapper footer-layout1 bg2 space-top space-md-top" data-bg-src="assets/img/bg/foter-bg-img-1.jpg">
  <div class="container">
    <div class="widget-area space-bottom space-md-bottom">
      <div class="row align-items-start justify-content-center justify-content-lg-between">
        <div class="col-lg-5 col-md-6 text-md-center text-lg-start">
          <div class="widget footer-widget">
            <div class="vs-widget-about text-center-md">
              <div class="foter-logo">
                <a href="index.html">
                  <img src="assets/img/footer-logo.svg" alt="Footer Logo">
                </a>
              </div>
              <p class="footer-text">It is a long established fact that a reader will be distracted by the readable
                content Lorem ipsum placeholder text commonly used.</p>
              <div class="footer-social">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="#">
                  <i class="fab fa-google-plus-g"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">

        </div>
        <div class="col-lg-4 col-md-6">
          <div class="widget widget_nav_menu footer-widget padding-l">
            <h5 class="widget_title">Contact Us</h5>
            <p class="info-footer">
              <i class="fas fa-envelope"></i>
              <a href="mailto:info@example.com">info@example.com</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright bg-theme">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 text-center text-lg-start">
          <p class="mb-0 link-inherit fw-light text-white">
            &copy; 2023
            <a href="index.html">PewPewPower.com</a>
            . All Rights Reserved By
            <a href="https://themeforest.net/user/vecuro_themes">Atomic Van</a>
          </p>
        </div>
        <div class="col-lg-6 text-start text-md-end">
          <ul class="menu list-style-none">
            <li>
              <a href="index.html">Privacy</a>
            </li>
            <li>
              <a href="about-v1.html">Terms</a>
            </li>
            <li>
              <a href="contact.html">Contact</a>
            </li>
            <li>
              <a href="about-v2.html">About</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<a href="#" class="scrollToTop scroll-btn">
  <i class="far fa-arrow-up"></i>
</a>