<!--==============================
  Blog Area
  ==============================-->
<section class="bg-light-2 space-top space-negative-bottom">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-sm-auto text-center text-sm-start">
        <div class="title_area">
          <span class="sec_subtitle">Our Blog</span>
          <div class="sec_line"><img src="assets/img/shape/about-line-1.png" alt="image"></div>
          <h2 class="sec_title h1">Our Latest News</h2>
        </div>
      </div>
      <div class="col-auto d-none d-sm-block">
        <div class="sec_btns">
          <button class="arrow_btn style2" data-slick-prev="#slideblog5"><i class="far fa-chevron-left"></i></button>
          <button class="arrow_btn style2" data-slick-next="#slideblog5"><i class="far fa-chevron-right"></i></button>
        </div>
      </div>
    </div>
    <div class="row vs-carousel" id="slideblog5" data-slide-show="3" data-lg-slide-show="2">
      <div class="col-xl-4">
        <div class="blog_style1">
          <div class="blog_img">
            <a href="blog-details.html"><img src="assets/img/blog/blog-5-1.jpg" alt="blog"></a>
            <a href="blog.html" class="blog_date">
              <span class="day">20</span>
              <span class="month">January</span>
            </a>
          </div>
          <div class="blog_content">
            <h3 class="blog_title h4"><a href="blog-details.html"> Systems ushered lorem ipsum into the...</a></h3>
            <p class="blog_text">Blienum nhaedrum torquatos nec eul, vis detraxit periculis ex, nihil is in mei.</p>
            <div class="blog_bottom">
              <div class="blog_auth">
                <img src="assets/img/blog/blog-auth-5-1.jpg" alt="blog-author">
                <span class="author_name">Rocky Bhai</span>
              </div>
              <a href="blog-details.html" class="vs-btn style-3">Read More<i class="fal fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="blog_style1">
          <div class="blog_img">
            <a href="blog-details.html"><img src="assets/img/blog/blog-5-2.jpg" alt="blog"></a>
            <a href="blog.html" class="blog_date">
              <span class="day">18</span>
              <span class="month">January</span>
            </a>
          </div>
          <div class="blog_content">
            <h3 class="blog_title h4"><a href="blog-details.html">Aldus Corporation, which merged with Adobe...</a></h3>
            <p class="blog_text">Blienum nhaedrum torquatos nec eul, vis detraxit periculis ex, nihil is in mei.</p>
            <div class="blog_bottom">
              <div class="blog_auth">
                <img src="assets/img/testimonial/testi-4-3.png" alt="blog-author">
                <span class="author_name">Mostofa Ali</span>
              </div>
              <a href="blog-details.html" class="vs-btn style-3">Read More<i class="fal fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="blog_style1">
          <div class="blog_img">
            <a href="blog-details.html"><img src="assets/img/blog/blog-5-3.jpg" alt="blog"></a>
            <a href="blog.html" class="blog_date">
              <span class="day">05</span>
              <span class="month">March</span>
            </a>
          </div>
          <div class="blog_content">
            <h3 class="blog_title h4"><a href="blog-details.html">The program came bundled with lorem text for...</a>
            </h3>
            <p class="blog_text">Blienum nhaedrum torquatos nec eul, vis detraxit periculis ex, nihil is in mei.</p>
            <div class="blog_bottom">
              <div class="blog_auth">
                <img src="assets/img/testimonial/testi-4-2.png" alt="blog-author">
                <span class="author_name">Vivi Marian</span>
              </div>
              <a href="blog-details.html" class="vs-btn style-3">Read More<i class="fal fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="blog_style1">
          <div class="blog_img">
            <a href="blog-details.html"><img src="assets/img/blog/blog-5-4.jpg" alt="blog"></a>
            <a href="blog.html" class="blog_date">
              <span class="day">08</span>
              <span class="month">Augest</span>
            </a>
          </div>
          <div class="blog_content">
            <h3 class="blog_title h4"><a href="blog-details.html">The French lettering company Letraset...</a></h3>
            <p class="blog_text">Blienum nhaedrum torquatos nec eul, vis detraxit periculis ex, nihil is in mei.</p>
            <div class="blog_bottom">
              <div class="blog_auth">
                <img src="assets/img/testimonial/testi-4-1.png" alt="blog-author">
                <span class="author_name">Jerzzy Lamot</span>
              </div>
              <a href="blog-details.html" class="vs-btn style-3">Read More<i class="fal fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>