<!--==============================
  Hero Area
  ==============================-->
<section class="vs-hero-wrapper hero-layout4 style2 number-nav position-relative  ">
  <div class="vs-carousel" data-fade="true" data-slide-show="1" data-lg-slide-show="1" data-md-slide-show="1"
    data-sm-slide-show="1">
    <div class="vs-hero-inner-wrapper">
      <div class="vs-hero-bg" data-bg-src="assets/img/hero/hero-5-1.jpg">
        <div class="hero-content-area">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-7">
                <div class="hero__content2">
                  <h1 class="hero-title" data-ani="slideinup" data-ani-delay="0.1s">Let’s Go..! <br> Hunting With Huntar
                  </h1>
                  <p class="hero-text" data-ani="slideinup" data-ani-delay="0.3s">Lorem ipsum dolor sit amet consectur
                    adipiscing elit eiusmod ex tempor incididunt labore dolore magna aliquaenim ad minim veniam quis
                    nostrud exercitation laboris.</p>
                  <a href="about-v2.html" class="hero2-vs-btn vs-btn style-3 hover-white hero-btn mb-35"
                    data-ani="slideinup" data-ani-delay="0.5s">About Us<i class="far fa-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="vs-hero-inner-wrapper">
      <div class="vs-hero-bg" data-bg-src="assets/img/hero/hero-5-2.jpg">
        <div class="hero-content-area">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-7">
                <div class="hero__content2">
                  <h1 class="hero-title" data-ani="slideinup" data-ani-delay="0.1s">Enjoy time..! <br> Catching With
                    Guide</h1>
                  <p class="hero-text" data-ani="slideinup" data-ani-delay="0.3s">Lorem ipsum dolor sit amet consectur
                    adipiscing elit eiusmod ex tempor incididunt labore dolore magna aliquaenim ad minim veniam quis
                    nostrud exercitation laboris.</p>
                  <a href="about-v2.html" class="hero2-vs-btn vs-btn style-3 hover-white hero-btn mb-35"
                    data-ani="slideinup" data-ani-delay="0.5s">About Us<i class="far fa-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="vs-hero-inner-wrapper">
      <div class="vs-hero-bg" data-bg-src="assets/img/hero/hero-5-3.jpg">
        <div class="hero-content-area">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-7">
                <div class="hero__content2">
                  <h1 class="hero-title" data-ani="slideinup" data-ani-delay="0.1s">Here We Are..! <br> For Hunting
                    Support</h1>
                  <p class="hero-text" data-ani="slideinup" data-ani-delay="0.3s">Lorem ipsum dolor sit amet consectur
                    adipiscing elit eiusmod ex tempor incididunt labore dolore magna aliquaenim ad minim veniam quis
                    nostrud exercitation laboris.</p>
                  <a href="about-v2.html" class="hero2-vs-btn vs-btn style-3 hover-white hero-btn mb-35"
                    data-ani="slideinup" data-ani-delay="0.5s">About Us<i class="far fa-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>