<!--==============================
  Newsletter signup
  ==============================-->
<section class=" space-y-2" data-bg-src="assets/img/bg/newsletter-bg-1-1.jpg">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-6 col-xl-auto mb-4 mb-lg-0 text-center text-lg-start">
        <span class="sec_subtitle text-white">PewPower News</span>
        <div class="sec_line"><img src="assets/img/shape/user-line-1.png" alt="image"></div>
        <h2 class="sec_title h1 text-white mb-0">Opt-in to spam, natch</h2>
      </div>
      <div class="col-lg-6 col-xl-auto">
        <form action="#" class="form_style1">
          <div class="form-group">
            <input type="email" placeholder="Enter Your Email" class="form-control">
            <button type="submit" class="vs-btn style-3">Subscribe <i class="fab fa-telegram-plane"></i></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>