<!--==============================
  Testimonail Area
  ==============================-->
<section class="space-top space-bottom">
  <div class="container container-style2">
    <div class="testi_wrap1" data-bg-src="assets/img/bg/testi-bg-1-1.jpg">
      <div class="row gx-0 align-items-center">
        <div class="col-lg-6">
          <div class="testi_style1">
            <span class="sec_subtitle">Testimonials</span>
            <div class="sec_line"><img src="assets/img/shape/user-line-1.png" alt="image"></div>
            <h2 class="sec_title h1">What Clients Say?</h2>
            <div id="testis_4_1">
              <div class="testi_inner">
                <div class="testi_quote"><i class="fas fa-quote-right"></i></div>
                <p class="testi_text">“The passage experienced a surge in popularity during the 1960s when Letraset used
                  it on their dry-transfer sheets, and again during”</p>
                <h3 class="testi_author">Jerzzy Lamot</h3>
                <span class="testi_degi">Tiger Hunter</span>
              </div>
              <div class="testi_inner">
                <div class="testi_quote"><i class="fas fa-quote-right"></i></div>
                <p class="testi_text">“Latin derived from Cicero's 1st-century BC text De Finibus Bonorum et Malorum
                  lorem ipsum was born as a nonsense text Latin looks”</p>
                <h3 class="testi_author">Peter Parker</h3>
                <span class="testi_degi">Lion Hunter</span>
              </div>
              <div class="testi_inner">
                <div class="testi_quote"><i class="fas fa-quote-right"></i></div>
                <p class="testi_text">“Richard McClintock, a Latin scholar from Hampden-Sydney College, is credited with
                  discovering source behind the ubiquitous filler text”</p>
                <h3 class="testi_author">Vivi Marian</h3>
                <span class="testi_degi">Club Member</span>
              </div>
              <div class="testi_inner">
                <div class="testi_quote"><i class="fas fa-quote-right"></i></div>
                <p class="testi_text">“Nor is there anyone who loves or pursues or desires to obtain pain of itself,
                  because is pain but occasionally circumstances”</p>
                <h3 class="testi_author">John Donal</h3>
                <span class="testi_degi">Hunting Lover</span>
              </div>
              <div class="testi_inner">
                <div class="testi_quote"><i class="fas fa-quote-right"></i></div>
                <p class="testi_text">“Creation timelines for the standard lorem ipsum passage vary, with some citing
                  the 15th century and others the 20th According”</p>
                <h3 class="testi_author">Harry Poter</h3>
                <span class="testi_degi">Young member</span>
              </div>
              <div class="testi_inner">
                <div class="testi_quote"><i class="fas fa-quote-right"></i></div>
                <p class="testi_text">“Rrow itself, let it be sorrow; let him love it; let him pursue it, ishing for its
                  acquisitiendum. Because he will ab hold but concer”</p>
                <h3 class="testi_author">Marry Jain</h3>
                <span class="testi_degi">Sniper Hunter</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-auto position-relative">
          <div class="testi_avater1">
            <div id="testis_4_2">
              <div>
                <div class="avater"><img src="assets/img/testimonial/testi-4-1.png" alt="author"></div>
              </div>
              <div>
                <div class="avater"><img src="assets/img/testimonial/testi-4-2.png" alt="author"></div>
              </div>
              <div>
                <div class="avater"><img src="assets/img/testimonial/testi-4-3.png" alt="author"></div>
              </div>
              <div>
                <div class="avater"><img src="assets/img/testimonial/testi-4-4.png" alt="author"></div>
              </div>
              <div>
                <div class="avater"><img src="assets/img/testimonial/testi-4-5.png" alt="author"></div>
              </div>
              <div>
                <div class="avater"><img src="assets/img/testimonial/testi-4-6.png" alt="author"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="testi-img1" id="testis_4_3">
            <div><img src="assets/img/testimonial/testi-img-4-1.jpg" alt="testimonial"></div>
            <div><img src="assets/img/testimonial/testi-img-4-2.jpg" alt="testimonial"></div>
            <div><img src="assets/img/testimonial/testi-img-4-3.jpg" alt="testimonial"></div>
            <div><img src="assets/img/testimonial/testi-img-4-4.jpg" alt="testimonial"></div>
            <div><img src="assets/img/testimonial/testi-img-4-5.jpg" alt="testimonial"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>