<!--==============================
  Brand Area
  ==============================-->
<div class="brand-wrap1  ">
  <div class="container">
    <div class="row vs-carousel text-center" data-slide-show="6" data-lg-slide-show="5" data-md-slide-show="4"
      data-sm-slide-show="3" data-xs-slide-show="2">
      <div class="col-auto"><img src="assets/img/brand/brand-4-1.png" alt="partner"></div>
      <div class="col-auto"><img src="assets/img/brand/brand-4-2.png" alt="partner"></div>
      <div class="col-auto"><img src="assets/img/brand/brand-4-3.png" alt="partner"></div>
      <div class="col-auto"><img src="assets/img/brand/brand-4-4.png" alt="partner"></div>
      <div class="col-auto"><img src="assets/img/brand/brand-4-5.png" alt="partner"></div>
      <div class="col-auto"><img src="assets/img/brand/brand-4-6.png" alt="partner"></div>
      <div class="col-auto"><img src="assets/img/brand/brand-4-7.png" alt="partner"></div>
    </div>
  </div>
</div>