<!--==============================
  Brand Area
  ==============================-->
<div class="brand-wrap1">
  <div class="container">
    <div class="d-flex text-center">

      <div class="flex-fill brand-bar-logo"><img src="assets/img/brand/energizer.png"
          alt="PewPewPower Uses Genuine Energizer Lithium Batteries">
      </div>
      <div class="flex-fill brand-bar-logo"><img src="assets/img/brand/surefire.png"
          alt="PewPewPower Uses Genuine Surefire Batteries">
      </div>
      <div class="flex-fill brand-bar-logo"><img src="assets/img/brand/streamlight.png"
          alt="PewPewPower Uses Genuine Streamlight Batteries">
      </div>
      <div class="flex-fill brand-bar-logo"><img src="assets/img/brand/panasonic.png"
          alt="PewPewPower Uses Genuine Energizer Lithium">
      </div>
      <div class="flex-fill brand-bar-logo"><img src="assets/img/brand/eemb.png"
          alt="PewPewPower Uses Genuine EEMB Button Cells">
      </div>

    </div>
  </div>
</div>