<!--==============================
  Hero Area
  ==============================-->
<section class="vs-hero-wrapper hero-layout4 style2 number-nav position-relative  ">
  <div class="vs-hero-inner-wrapper">
    <div class="vs-hero-bg" data-bg-src="assets/img/hero/home-hero.webp">
      <div class="hero-content-area">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-7">
              <div class="hero__content2">
                <h1 class="hero-title">Guns Need Batteries</h1>
                <h2 class="hero-subtitle">Don't wait to find out that your dot, scope, light, or laser is dead when you
                  need it. </h2>
                <p class="hero-text">Build your own custom battery box and get exactly the batteries you need, delivered
                  with a reminder on a schedule you set, <u>before</u> you need them.</p>

                <a href="about-v2.html" class="hero2-vs-btn vs-btn style-3 hover-white hero-btn mb-35">Build your PEW
                  POWER PACK Now<i class="far fa-arrow-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>