<!--==============================
  Brand Area
  ==============================-->
<div class="brand-wrap1  ">
  <div class="container">
    <div class="row vs-carousel text-center">
      <div class="col-2"><img src="assets/img/brand/brand-4-1.png" alt="partner"></div>
      <div class="col-2"><img src="assets/img/brand/brand-4-2.png" alt="partner"></div>
      <div class="col-2"><img src="assets/img/brand/brand-4-3.png" alt="partner"></div>
      <div class="col-2"><img src="assets/img/brand/brand-4-4.png" alt="partner"></div>
      <div class="col-2"><img src="assets/img/brand/brand-4-5.png" alt="partner"></div>
      <div class="col-2"><img src="assets/img/brand/brand-4-6.png" alt="partner"></div>
    </div>
  </div>
</div>