<header class="header-wrapper z-index-step1">
  <div class="container position-relative">
    <div class="header3-inner">
      <div class="row align-items-center">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-6">
          <div class="header-logo">
            <a href="index.html">
              <img src="assets/img/logo.svg" alt="logo">
            </a>
          </div>
        </div>
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-6 text-end">
          <div class="main-menu-wrapper d-flex align-items-center justify-content-end">
            <nav class="main-menu menu-style1 d-none d-xl-inline-block">
              <ul>
                <li class="mega-menu-wrap menu-item-has-children">
                  <a href="#">Pages</a>
                  <ul class="mega-menu text-capitalize">
                    <li>
                      <a href="#">Pagelist 1</a>
                      <ul>
                        <li>
                          <a href="index.html">Demo Style 1</a>
                        </li>
                        <li>
                          <a href="index-2.html">Demo Style 2</a>
                        </li>
                        <li>
                          <a href="index-3.html">Demo Style 3</a>
                        </li>
                        <li>
                          <a href="index-4.html">Demo Style 4</a>
                        </li>
                        <li>
                          <a href="index-5.html">Demo Style 5</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="#">Pagelist 2</a>
                      <ul>
                        <li>
                          <a href="about-v1.html">About Us Style 1</a>
                        </li>
                        <li>
                          <a href="about-v2.html">About Us Style 2</a>
                        </li>
                        <li>
                          <a href="services-v1.html">Services Style 1</a>
                        </li>
                        <li>
                          <a href="services-v2.html">Services Style 2</a>
                        </li>
                        <li>
                          <a href="services-details.html">Services Details</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="#">Pagelist 3</a>
                      <ul>
                        <li>
                          <a href="team.html">Team</a>
                        </li>
                        <li>
                          <a href="team-details.html">Team Details</a>
                        </li>
                        <li>
                          <a href="contact.html">Contact Us</a>
                        </li>
                        <li>
                          <a href="blog.html">Blog</a>
                        </li>
                        <li>
                          <a href="blog-details.html">Blog Details</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="#">Pagelist 4</a>
                      <ul>
                        <li>
                          <a href="shop.html">Shop</a>
                        </li>
                        <li>
                          <a href="shop-details.html">Shop Details</a>
                        </li>
                        <li>
                          <a href="cart.html">Shopping Cart</a>
                        </li>
                        <li>
                          <a href="checkout.html">Checkout</a>
                        </li>
                        <li>
                          <a href="wishlist.html">Wishlist</a>
                        </li>
                        <li>
                          <a href="error.html">Error Page</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="menu-item-has-children">
                  <a href="#">Blog</a>
                  <ul class="sub-menu">
                    <li>
                      <a href="blog.html">Blog</a>
                    </li>
                    <li>
                      <a href="blog-details.html">Blog Details</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="contact.html">Contact Us</a>
                </li>
              </ul>
            </nav>
            <div class="d-flex align-items-center justify-content-end py-2  ml-30">
              <div class="right-nav d-none d-sm-inline-block">
                <a class="vs-btn style-3a" href="contact.html">Manage My Box</a>
              </div>
              <div class="hambergur-menu hambergur-menu3 ml-10">
                <button type="button" class="vs-menu-toggle d-inline-block d-xl-none">
                  <i class="far fa-bars"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>