// Custom css rules here
.cta-block {
  padding: 75px 0px;
  background-color: #000;
  opacity: 1;
  background: linear-gradient(136deg, #000 0%, rgba(104, 98, 66, 0.00) 100%);
}

.brand-bar-logo {
  padding: 0 25px;
}