<!doctype html>
<html class="no-js" lang="zxx">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Huntar - Hunting & Outdoor Service HTML Template - Home One</title>
  <meta name="author" content="Vecuro">
  <meta name="description" content="Huntar - Hunting & Outdoor Service HTML Template">
  <meta name="keywords" content="Huntar - Hunting & Outdoor Service HTML Template">
  <meta name="robots" content="INDEX,FOLLOW">

  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Favicons - Place favicon.ico in the root directory -->
  <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="assets/img/favicon.ico" type="image/x-icon">

  <!--==============================
	  Google Fonts
	============================== -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Marcellus&display=swap"
    rel="stylesheet">

  <script src="https://kit.fontawesome.com/09983611ef.js" crossorigin="anonymous"></script>
  <!--==============================
	    All CSS File
	============================== -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="assets/css/app.min.css"> -->
  <!-- Flaticon -->
  <link rel="stylesheet" href="assets/css/flaticon.min.css">
  <!-- Theme Custom CSS -->
  <link rel="stylesheet" href="assets/css/main.css">

</head>


<body class="home-five">
  {% include header.html %}
  {% include topnav.html %}
  {% include home-hero.html %}

  {{ content }}

  {% include home-blog.html %}
  {% include home-newsletter.html %}
  {% include home-brands.html %}
  {% include footer.html %}


  <!--==============================
                  All Js File
          ============================== -->
  <!-- Jquery -->
  <script src="assets/js/vendor/jquery.min.js"></script>
  <!-- Bootstrap -->
  <script src="assets/js/bootstrap.min.js"></script>
  <!-- Filter -->
  <script src="assets/js/imagesloaded.pkgd.min.js"></script>
  <script src="assets/js/isotope.pkgd.min.js"></script>
  <!-- Jquery UI -->
  <script src="assets/js/jquery-ui.min.js"></script>
  <!-- Form Js -->
  <script src="assets/js/ajax-mail.js"></script>
  <!-- Main Js File -->
  <script src="assets/js/main.js"></script>
</body>

</html>